// Place all the styles related to the Movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wide-background {
  background-color: #cee;
  width: 100%;
  float: left;
  padding-bottom: 1em;
  #wide-label {
  }
}
#left-background {
  position: relative;
  background-color: #ece;
  width: 50%;
  padding-bottom: 1em;
}
#left-col {
  background-color: #eec;
  width: 50%;
  float: right;
  padding-bottom: 1em;
}
#right-col {
  background-color: #cce;
  width: 50%;
  float: right;
  padding-bottom: 1em;
}
dl {
  margin: 0em;
  padding-left: 1em;
}
dt {
  border-left: 1px solid #6698ff;
  padding-left: 1em;
  padding-right: 1em;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

#comment-outer {
  background-color: #eee;
  margin-left: 5em;
  margin-right: 5em;
  form {
    padding: 0em;
    margin: 0em;
    input[type="textarea"] {
      position: relative;
      left: -8px;
      margin: 0em;
      padding: 6px;
      //border: none;
      width: 100%;
    }
  }  
}
